@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  background-color: #242424;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
